:root {
  /* Color Palette */
  --darkestBG: #212224;
  --darkerBG: #292a2d;
  --darkBG: #353637;
}
body {
  /* Backgrounds */
  --main-background-color: var(--darkestBG);
  --main-border-color: #7a8ba654;
  --accented-background-color: #232425;
  --more-accented-background-color: #4c4e68;
  --header-background-color: #393838;
  --button-border-color: #8d9ca39c;
  --button-border-radius: 0px;
  --modal-background-color: #282525;
  --launcher-pane-background-color: var(--darkBG);
  --left-pane-background-color: var(--darkerBG);
  --left-pane-text-color: #9aa0a6;
  --inactive-tab-background-color: var(--darkBG);
  --accented-background-color: var(--darkerBG);
  --more-accented-background-color: var(--darkBG);
  --active-tab-background-color: var(--darkestBG);
  --active-item-background-color: var(--darkBG);
  --modal-background-color: var(--darkestBG);
  --menu-background-color: #27282a;
  --tooltip-background-color: rgba(70, 72, 76, 0.86);
  --hover-item-background-color: #3f4041;
  /* Fonts */
  --main-font-family: "quote", "Helvetica Neue", "Luxi Sans", "DejaVu Sans",
    "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    "EmojiSymbols";
  --main-text-color: #c9d1d9;
  --menu-text-color: var(--main-text-color);
  --hover-item-text-color: var(--menu-text-color);
  --tree-font-family: var(--main-font-family);
  --detail-font-family: var(--main-font-family);
  --active-item-text-color: var(--main-text-color);
  --link-color: #52a2ff;
  --muted-text-color: #757d86;
}

/* Using #root-widget ID to override main theme styles without the use of !important */

/* Typography General */
#root-widget h1,
#root-widget h2,
#root-widget h3,
#root-widget h4,
#root-widget h5,
#root-widget h6 {
  font-weight: 700;
}
#root-widget h2 {
  margin-block-start: 1em;
  margin-block-end: 0.83em;
}
#root-widget h3 {
  margin-block-start: 1.2em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#root-widget .CodeMirror-lines {
  font-size: 1rem;
}
/* Note Title */
#root-widget .title-row {
  margin-bottom: 15px;
}
#root-widget .note-title {
  font-size: 160%;
  line-height: 50px;
}
/* Notecards */
#root-widget .note-book-card {
  margin: 4px 7px 4px 0;
  border-radius: 5px;
}
#root-widget .note-book-card h2 {
  font-size: 1.25em;

  margin-block-start: 0.3em;
}
#root-widget .note-book-card .note-book-title .rendered-note-attributes {
  font-weight: 400;
}
/* Tab bar */
#root-widget .tab-row-widget {
  margin-left: -5px;
  padding-left: 5px;
  width: calc(100% + 5px);
  height: 34px;
}
#root-widget .tab-row-widget-container {
  height: 34px;
  background: var(--darkBG);
}
#root-widget .note-tab-wrapper {
  padding: 1px 6px 0 11px;
  height: 34px;
  line-height: 34px;
}
#root-widget .note-tab-wrapper:hover {
  background-color: var(--hover-item-background-color);
}
#root-widget .tab-row-widget .note-tab[active] .note-tab-wrapper {
  font-weight: 400;
}
#root-widget .note-new-tab {
  width: 34px;
  height: 34px;
  line-height: 34px;
}
#root-widget .note-new-tab:hover {
  background-color: var(--hover-item-background-color);
  color: var(--hover-item-text-color);
}
#root-widget .tab-row-widget .note-tab .note-tab-close span,
#root-widget .note-new-tab {
  top: 0;
  color: var(--muted-text-color);
  font-size: inherit;
}
/* Menus & Tooltips */
#root-widget .dropdown-menu {
  margin: 0;
  padding: 3px 0 4px;
  border: none;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
#root-widget .dropdown-item {
  padding: 3px 10px 2.5px;
  line-height: 24px;
}
#root-widget .dropdown-item kbd {
  margin-left: 10px;
  color: #9aa0a6;
  font-weight: 300;
  font-size: 0.8rem;
  font-family: var(--main-font-family);
}
#root-widget .dropdown-item span.bx {
  margin-right: 3px;
  color: #9aa0a6;
  font-size: 0.9rem;
  line-height: 24px;
}
#root-widget .dropdown-item.disabled span {
  color: #757d86;
}
#root-widget .dropdown-divider,
#root-widget .modal-header,
#root-widget .modal-footer {
  border-color: var(--darkBG);
}
#root-widget .dropdown-item:focus,
#root-widget .dropdown-item:hover {
  outline: none;
  border: none;
  background-color: var(--darkBG);
}
#root-widget .tooltip-inner {
  padding: 4px 6px 5.5px;
  font-size: 0.95rem;
}
/* Left Pane */
#root-widget #launcher-pane {
  width: 46px;
}
#root-widget #launcher-pane .global-menu-button {
  background-size: 26px;
}
#root-widget #launcher-pane .icon-action {
  padding: 0 10px;
  width: 46px;
  height: 42px;
  outline: none;
  line-height: 42px;
}
#root-widget #launcher-pane .icon-action:hover {
  background-color: transparent;
  color: var(--main-text-color);
}
/* Tree */
#root-widget
  .fancytree-node:not(.fancytree-loading)
  .fancytree-expander:before {
  font-size: 1rem;
}
.tree-actions {
  border: 1px solid #22272e;
  border-bottom: 0;
}
#root-widget button.tree-floating-button {
  border: none;
  font-size: 1.3em;
}
#root-widget button.tree-floating-button:hover {
  color: var(--main-text-color);
}
.ui-fancytree span.fancytree-active,
.ui-fancytree span.fancytree-active.fancytree-selected {
  border: none;
}
#root-widget span.fancytree-active .fancytree-title {
  font-weight: 400;
}
.ui-fancytree span.fancytree-node:hover {
  border: none;
  background: #3f4041;
}
#root-widget .bx.tree-item-button {
  position: absolute;
  right: 0px;
  padding: 0 10px 0 5px;
  padding-top: 2px;
  height: 38px;
  border: none;
  border-radius: 0;
  background: #3f4041;
  font-size: inherit;
  line-height: 38px;
}
#root-widget .fancytree-active .bx.tree-item-button {
  background: var(--active-item-background-color);
}
#root-widget .ui-fancytree ul {
  padding-left: 0;
}
/* Left-Pane Nested List - full width background for hover and active status. 
It's also possible to use Themes jQuery Script. Without the script use the code below. 
Extend for deeper nesting structure if neccecary */
.ui-fancytree > li > span.fancytree-node {
  padding-left: 10px;
}
.ui-fancytree > li > ul > li > span.fancytree-node {
  padding-left: 10px;
}
.ui-fancytree li li li span.fancytree-node {
  padding-left: 25px;
}
.ui-fancytree li li li li span.fancytree-node {
  padding-left: 40px;
}
.ui-fancytree li li li li li span.fancytree-node {
  padding-left: 55px;
}
.ui-fancytree li li li li li li span.fancytree-node {
  padding-left: 70px;
}
.ui-fancytree li li li li li li li span.fancytree-node {
  padding-left: 85px;
}
.ui-fancytree li li li li li li li li span.fancytree-node {
  padding-left: 100px;
}
.ui-fancytree li li li li li li li li li span.fancytree-node {
  padding-left: 115px;
}
.ui-fancytree li li li li li li li li li li span.fancytree-node {
  padding-left: 130px;
}
.ui-fancytree li li li li li li li li li li li span.fancytree-node {
  padding-left: 145px;
}
/*** General Fixes ***/
/* Borders */
#root-widget .note-tab-wrapper,
#root-widget .fancytree-node {
  border-radius: 0;
}
.note-tab-wrapper {
  margin-left: -5px;
  border-right: 1px solid var(--darkestBG);
}
#root-widget .note-title-widget input {
  outline: none;
  font-weight: 700;
}
/* Icons */
#root-widget #launcher-pane .icon-action,
#root-widget .ribbon-tab-title .bx {
  text-align: center;
  font-size: 1.3rem;
}
/* Modal Options */
#options-dialog .modal-content .modal-header {
  padding: 10px 15px 10px 25px !important;
}
.modal-content .close {
  font-weight: inherit !important;
  font-size: 1.3rem !important;
}
.modal-content h2,
.modal-content h3,
.modal-content h4,
.modal-content h5 {
  color: var(--main-text-color);
  font-weight: 600 !important;
  font-size: 1rem !important;
}
.modal-content h4 {
  /*border-top: 1px solid rgba(230, 230, 230, 0.1) !important;*/
  padding-top: 5px !important;
}
.modal-body > div > br {
  display: none !important;
}
.modal-content .options-advanced h4:first-child {
  border-top: none !important;
}
.modal-body h5 {
  font-weight: 400 !important;
  font-size: 1rem !important;
}
#options-dialog .modal-body {
  padding: 0 !important;
  color: #9aa0a6;
}
.modal-body #override-theme-fonts {
  width: 18px !important;
}
#options-dialog .modal-content .tab-content {
  padding: 24px !important;
}
#options-dialog .modal-content .nav-tabs {
  padding: 0 24px;
  border: none;
  background-color: var(--darkBG);
}
.modal-content .nav-tabs .nav-link {
  margin-bottom: 0;
  border: none !important;
  border-radius: 0 !important;
  color: var(--main-text-color) !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #3f4041 !important;
}
/* Scrollbars */
::-webkit-scrollbar {
  width: 8px !important;
}
::-webkit-scrollbar-thumb {
  border-width: 0 !important;
  border-radius: 0 !important;
  background: #4f5052 !important;
}
/* Cursors */
.gutter.gutter-horizontal {
  cursor: col-resize !important;
}
